.body
	position relative
	display flex
	flex-direction column
	margin 0
	
	color #fff
	background #000 url('../assets/img/general/main-bg.jpg')
	
	&:after
		content ''
		position absolute
		top 0
		left 0
		right 0
		bottom 0
		
		z-index -1
		
		background linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7))



