// COLORS
$black = #000
$lightgray = #f2f2f2
$gray = #b3b3b3
$darkgray = #666
$white = #fff
$blue = #1698d9
$pink = #d91667
$yellow = #ffff66

// FONTS
$font-default = TrebuchetMSRegular
$font-default-bold = TrebuchetMSBold
$font-second = exo2-thin

// MEDIA QUERIES
$media-sm = 320px
$media-mid = 768px
$media-lg = 1024px
$media-xl = 1280px
$media-xll = 1600px
