.product-list
	
	&__item
		display inline-block
		margin-bottom 50px
		margin-right 50px

/*
.product-list
	
	&__item
		display inline-block
		margin-bottom 50px
		margin-right 50px
		padding 20px 20px
		x(yellow)
	
	&__item-content
		height 100px
		background blue
		
		&:hover
			background pink
	
	&__item input[type='checkbox']
		display none
		
	// если чекбокс отмечен
	&__item input[type='checkbox']:checked ~ &__item-content
		background green
		
		&:hover
			background pink
	
	// пока курсор над карточкой товара, сразу после отметки чекбокса
	&__item_is-activation input[type='checkbox']:checked ~ &__item-content
		
		&:hover
			background green
	
	// если чекбокс disabled
	&__item input[type='checkbox']:disabled ~ &__item-content
		background gray
		
		&:hover
			background gray
		
	
	&__item-to-buy-btn
		color #fff
		cursor pointer

*/



