.product-list
	display flex
	flex-wrap wrap
	justify-content space-between
	
	+media($media-lg)
		justify-content space-around
	
	&__item
		max-width 320px
		margin-right 20px
		margin-bottom 30px
		
		&:last-child
			margin-right 0



